@charset "utf-8";

.container {
    width: 1024px;
    margin: 0 auto 0 auto;
    text-align: left;
}

input[type="text"], input[type="submit"], input[type="date"], textarea, select {
    padding: 5px;
    font-size: 12pt;
}

.item {
    width: 500px;
}

table.list {
    margin: 40px auto 20px 0;
}

table.list th {
    padding: 10px;
}

table.list td {
    padding: 5px 10px;
}

.del {
    text-decoration: double line-through;
}

.center {
    text-align: center;
}